BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
AccessModifierOffset: -2
BraceWrapping:
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  BeforeElse: false
  IndentBraces: false
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
PenaltyExcessCharacter: 50
