CMakeCache.txt
.*
!.editorconfig
!.gitignore
.venv
build*
cmake_install.cmake
database.sqlite
demo_*
dist/
downloaded.png
json.xml
lib/*.so
out/
src/*.o
src/rust/Cargo.lock
src/rust/target
*.swp
tmp*
