CMakeCache.txt
Doxyfile
.*
!.clang-format
!.clang-tidy
!.editorconfig
!.gitignore
!.github
!.gitkeep
.venv
api/
build/*
build_debug/*
build_release/*
cmake_install.cmake
compile_commands.json
database.sqlite
defines.txt
demo_*
dist/
downloaded.png
json.xml
lib/*.so
out/
src/*.o
src/rust/Cargo.lock
src/rust/target
*.swp
tmp*
web/_cache/*
web/_site/*
web/api/
web/Gemfile.lock
