CMakeCache.txt
Doxygen.in
.*
!.clang-format
!.clang-tidy
!.editorconfig
!.gitignore
!.github
!.gitkeep
.venv
api/
!api/.gitkeep
build/*
build_debug/*
build_release/*
cmake_install.cmake
compile_commands.json
database.sqlite
defines.txt
demo_*
dist/
downloaded.png
json.xml
lib/*.so
out/
playground/*
!playground/.gitkeep
src/*.o
src/rust/Cargo.lock
src/rust/target
*.swp
tmp*
web/_cache/*
web/_site/*
web/Gemfile.lock
